html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.CodeMirror {
  max-width: 550px;
  max-height: 1500px;
  min-height: 480px;
  width: 100%;
  height: 100%;
  margin: auto;
  border-radius: 4px;
}
